/* flex helper */
.flex{
    display: flex;
}

.flex.align-center{
    align-items: center;
}

.flex.space-between{
    justify-content: space-between;
}



/* buttons */
a.btn{
    text-decoration: none;
    background-color: var(--clr-primary-4);
}
.btn, a.btn {
    border: none;
    padding: 5px;
    border-radius: 8px;
    color: var(--clr-primary-1);
    font-size: 0.9rem;
    transition: background-color 0.2s ease;

    &:hover {
        cursor: pointer;
        background-color: var(--clr-primary-1);
        color: black;
    }
}

input[type="file"] {
    display: none;
}

.file-label {
    background: var(--clr-primary-4);
    color: var(--clr-primary-1);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
        background-color: var(--clr-primary-1);
        color: black;
    }
}

