:root {
    /* pallet */
    --clr-primary-1: #6f8cdb;
    --clr-primary-2: #fff;
    --clr-primary-3: #333;
    --clr-primary-4: #F0F0F0;


    /* mq */
    --s: 600px;
    --m: 900px;
    --l: 1100px;
}